body
/* #bad for id */
/* .bad for class */
{
    color:Black;
    background-color:rgb(61, 107, 150);
    font-family: serif;
    font-size: 20pt;
    font-weight:bold;
    font-variant: small-caps;
    font-style: italic;
    text-decoration-line: line-through;
    text-decoration-color: red ;
    /* or text-decoration:line-through red; */
}