body{
    font-family: sans-serif;
}
#date{
    font-style: italic;
    color: lightgrey;
}
img{
    /* donot specify make it orignial size */
    width:50%;
    
}
.code{
    background-color: darkgray;
    white-space: pre;
    border: 1px solid black;
    border-radius: 10px;
}