body
{
    display:flex;
    align-items: center;
    justify-content: center;
    height:100vh;
}
.outer
{
    background-color: #FF90E2;
}

.inner
{
    background-color: #A9CCCC;
    margin:10px; 
    /* 10px, 20px,30px,40px top right bottom left*/
    /* 10px 20px Up and Down  */
    margin-bottom: 10px;
    border:3px solid
    /* dashed */
    #FFF6C9;
    /*Border- top and Border- bottom*/
    padding:20px;
    /*width:200px height:200px*/
    /*box-sizing: border-box;*/
    /*display: inline; width and height are ignored, top and bottom margin*/
    /* display: inline-block */
}
/* 3 layers in the boxes, Margin->Border->Padding->Content */
/* background color not in margin but border */